@import "tailwindcss";

@theme {
  --font-quicksand: var(--font-quicksand);
  --font-outfit: var(--font-outfit);

  --color-primary: #FF90BC;
  --color-primary-light: #FFC0D9;
  --color-secondary: #FFF9FB;
  --color-accent-blue: #8CC0EB;
  --color-accent-peach: #F8C4B4;
  --color-text-main: #2D2D2D;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-secondary text-text-main;
  }
}

.glass-card {
  @apply bg-white/40 backdrop-blur-md border border-primary/10 shadow-sm rounded-[32px];
}

.gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-accent-peach;
}
